body {
    background-color: rgb(0, 91, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

form input {
    background-color: rgb(0, 91, 165);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
    padding-left: 20px;
    font-weight: bold;
}

form input:focus {
    outline: 0px solid rgb(0, 91, 165)
    
}

form input::placeholder {
    color: white;
    opacity: 0.3;
}

form button[text="Log In"] {
    height: 100px;
}

.loginBtn {
    height: 40px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.4s;
}

.loginBtn:hover {
    background-color: rgb(134, 133, 133) !important;
    color: rgb(255, 255, 255) !important
}

.forgotBtn {
    position: absolute;
    top: 105px;
    right: 0;
    width: 120px;
    background: none;
    transition: 0.4s;
}

.forgotBtn:hover {
    color: rgb(156, 156, 156) !important
}

.changeData {
    width: 300px;
    height: 300px;
    background-color: rgb(0, 91, 165);
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 200px;
}

.changeData input {
    background-color: rgb(0, 91, 165);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
    padding-left: 20px;
    font-weight: bold;
}

.changeData input:focus {
    outline: 0px solid rgb(0, 91, 165)
}

.changeData input::placeholder {
    color: white;
}

.xForClose {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: aliceblue;
}

.okButton {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 91, 165);
    transition: 0.4s;
}

.okButton:hover {
    background-color: rgb(134, 133, 133) !important;
    color: rgb(255, 255, 255) !important
}

.loginInfo {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 400px;
}

.loginInfo button {
    position: absolute;
    top: 20px;
    right: 0;
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}